.home {
    background: url(https://images8.alphacoders.com/573/573739.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 200px;
  
    img {
      margin-top: 15px;
      margin-left: 30px;
      width: 100px;
      background: none;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100px;
      }
  
      a {
        font-family: pricedown;
        text-decoration: none;
        color: white;
        font-size: 45px;
        margin-left: 30px;
        width: 130px;
        transition: 0.3s;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: black;
        &:hover {
          color: #ffab00;
          transform: scale(1.08);
        }
      }
    }
  }