* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;

    h1,h2,h3,h4,h5,h6 {
        color: #ffab00;
    }

    p {
        color: aliceblue;
    }
}

body {
    background: black;
}


//prideti burgeri 
nav {
    font-family: inter;
    background: #ffab00;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 50%;
    justify-content: center;

    .links {
        display: flex;
        
        a {
            text-decoration: none;
            color: black;
            margin-left: 20px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: scale(1.08);
                color: white;
            }
        }
    }
    .logo {

        img {
            width: 40px;
        }
    }
}

header {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    h1 {
        font-size: 50px;
        font-weight: 500;
        color: #ffab00;
    }
}

.simpleImageSlider {
    width: 1440px;
    height: 600px;
  }
  
.images {
    display: flex;
    align-items: center;
    justify-content: center;
}      
    

.rg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    .name {
        margin-top: 50px;
        margin-bottom: 30px;
        h2 {
            color: #ffab00;
            font-size: 50px;

        }
    }
    .parahraps {
        color : lightgray;
        display: flex;
        align-items: center ;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        h4 {
            font-size: 40px;
            color: white;
        }
        .parahraph1, .parahraph2{
            width: 450px;
        }
    }
}

.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    .name {
        margin-bottom: 20px;
        h2 {
            color: #ffab00;
            font-size: 50px;

        }
    }   

    .questions {

        .answer {
            display: none;
            overflow: hidden;
            transition: max-height 0.5s ease;
      
            &.show {
              display: block;
              max-height: 500px; 
            }
          }
        h4 {
            font-size: 20px;
            color: white;
            margin-bottom: 20px;
            cursor: pointer;
        }
        p {
            margin-bottom: 10px;
            color: lightgray;
        }

        .q1, .q2, .q3, .q4, .q5, .q6 {
            margin-bottom: 50px;
        }
    }
}

footer{
    width: 100%;
    margin-bottom: 20px;


.gameLauncher {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    align-items: center;
    margin-bottom: 90px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: #ffab00;
            font-size: 50px;

        }
        p {
            margin: 30px 0;
            color: lightgrey;
        }

        a {
            border: 1px solid #ffab00;
            padding: 15px 30px;
            color: #ffab00;
            text-decoration: none;
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
                background: #ffab00;
                color: white;
                }
            }
        }
    }
    .bottom {
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-between;        
        margin-bottom: 80px;
        h1 {
            color: #ffab00;
            font-size: 24px;
        }
        .locations {
            display: flex;
            gap: 20px;

            h1{
                border-bottom: 1px solid lightgray;
                padding: 0px 15px;
                border-radius: 8px;
            }
        }

        .socials {
            display: flex;
            gap: 20px;

            svg {
                color: white;
                font-size: 30px;
                transition: 0.3s;
            &:hover {
                transform: scale(1.20);
                color: #ffab00;
            }
            }
        }
    }
}


.header {
    width: 82%;
    margin: 30px 0px;
    h1 {
        margin: -28px;
        color: #ffab00;
        display: flex;
        font-size: 50px;
        justify-content:flex-end;
    }
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    iframe {

        width: 1000px;
        height: 500px;
    }
}

.about {
    margin-top: 80px;
    h1 {
        font-size: 70px;
        margin-left: 30px;
    }

.team{
    display: flex;
    justify-content: center;

    .teamPics {
        margin-top: 20px;
        text-align: center;
        img {
            width: 800px;
        }
    }

    .info {
        font-size: 30px;
        width: 35%;
        margin-top: 280px;
        margin-left: -100px;
    }
}
.games {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .gta5 {
        width: 350px;
        margin-right: 20px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 21px;
        width: 30%;
    }
}
}