@font-face {
  font-family: "pricedown";
  src: url("pricedown%20bl.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto Mono;

  h1,
  h2,
  h3,
  h5,
  h6 {
    color: #ffab00;
    font-family: pricedown;
    font-size: 50px;
  }

  p {
    color: aliceblue;
  }
}

body {
  background: black;
}
